[alias]
	co = checkout
	d = diff
	ds = diff --stat
	# Logging aliases:
	l = log --graph --date=format:%c --pretty=format:'%C(auto)%h%d %s  %C(green)%an, %ar %C(cyan)(%ad) %C(auto)'
	la = log --graph --date=format:%c --pretty=format:'%C(auto)%h%d %s  %C(green)%an, %ar %C(cyan)(%ad) %C(auto)' --all
	ls = log --graph --date=format:%c --pretty=format:'%C(auto)%h%d %s  %C(green)%an, %ar %C(cyan)(%ad) %C(auto)' --simplify-by-decoration
	las = log --graph --date=format:%c --pretty=format:'%C(auto)%h%d %s  %C(green)%an, %ar %C(cyan)(%ad) %C(auto)' --all --simplify-by-decoration
	# Other useful aliases:
	unstage = reset HEAD
	staged = diff --staged
	cached = diff --cached
	unstaged = diff
	current-branch = !git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'
	cleanse = !git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -n 1 git branch -D
	update = "! \
	    CURRENT_BRANCH=`git current-branch`; \
	    echo \"Current branch is $CURRENT_BRANCH\"; \
	    git co -b dummy_branch 2> /dev/null; \
	    for branch in `git branch -vv | egrep ': behind \\d*\\]' | awk '{print $1}'`; \
	    do \
	        git checkout $branch; \
	        git merge --ff-only origin/$branch; \
	    done; \
	    git checkout $CURRENT_BRANCH; \
	    git branch -d dummy_branch 2> /dev/null; \
	"
	vrm = !git tag -l | gsort -V
	vv = branch -vv
[apply]
	whitespace = warn
[clean]
	requireForce = false
[color]
	ui = auto
[color "diff"]
	meta = cyan bold
	frag = magenta bold
[color "status"]
	added = green
	changed = yellow
	untracked = red
[core]
	excludesfile = /Users/devs/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[fetch]
	prune = true
[help]
	autocorrect = -1
[init]
	templatedir = ~/.git_template
[log]
	decorate = short
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[pull]
	ff = only
[push]
	default = simple
[remote "origin"]
	push = HEAD
[status]
	submodule = 1
[user]
	name = Jake Griffin
	email = jake.griffin@infusionsoft.com
[credential]
	helper = osxkeychain
